<h1>Payment Results</h1>

<dl>
  <dt>APR</dt>
  <dd><%=@apr_form%></dd>
  <dt>Number of Years</dt>
  <dd><%=@years_form%></dd>
  <dt>Principal</dt>
  <dd><%=@principal_form%></dd>
  <dt>Payment</dt>
  <dd><%=@payment%></dd>
</dl>

<a href="/payment/new">
  Calculate another payment
</a>
